form {
  display: flex;
  flex-direction: column;
  height: 425px;
  background: white;
  border-radius: 8px;
  padding: 47px 36px;
}

img {
  align-self: center;
}

.background {
    /* Full height */
    height: 100%;

    background-image: url('./Black_Market_wallpaper.svg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 66.5px 119px;
}

.login {
  width: 360px;
  height: 575px;
  gap: 20px;

  display: flex;
  flex-direction: column;
}

.registration {
  height: 130px;
  background: white;
}
