#root {
  height: 100%;
}

html, 
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  width: 100%;
  font-size: 1rem;
}

:root {
  font-family: 'DM Sans', sans-serif;;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 0.5rem;
  border: 1px black solid;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--text-color);
}
button:focus,
button:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--main-card-color);
  }
  a:hover {
    color: var(--link-hover);
  }
}

p {
  margin: 0;
}

